.product-card{
  transition:0.3s;
  border:none;
}

.product-card:hover{
  transform:translateY(-10px);
}

.product-card img{
  height:220px;
  object-fit:cover;
}

.buttonClr{
    background: blue !important;
}